:root {
  --header-bg: #663399;
  --nav-bg: #663399e5;
  --bg-main: #eff3f9;
  --bg-img: #eff3f9;
  --text-color: #687281;
}

body {
  background-color: var(--bg-main);
  color: var(--text-color);
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

button.button.is-warning.is-rounded.is-responsive.is-normal.has-text-white {
  background-color: orange;
}

.nav__bg {
  background-color: var(--nav-bg);
}

.header__perso {
  background-color: var(--header-bg);
}

.link__perso {
  color: #ccc;
}

.link__perso:hover {
  color: #ffffff;
  background-color: transparent;
}

.img__section {
  background-color: var(--bg-img);
  transform: rotateZ(-2deg);
}

.img__header {
  width: 408px;
  height: 300px;
}

.zone__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  color: #fff;
  border-radius: 50%;
}

.zone__icon i {
  font-size: 30px;
}

.text-gradient {
  background-image: linear-gradient(to right, #ffc73f 0%, #fd3459 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5%);
}

.text-card-1 {
  color: var(--header-bg);
}

.text-card-2 {
  color: rgba(0, 0, 139, 0.432);
}

.stars {
  display: flex;
  margin: auto 0;
  width: 200px;
  height: 30px;
  align-self: center;
}

.text__content {
  line-height: 25px;
}
